
<footer class="footer">
  <div class="container">
    <span class="text-muted">
      All Rights Reserved at **** *** ***
      </span>
  </div>
</footer>







<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<footer class="page-footer font-small stylish-color-dark pt-4">-->

  <!--&lt;!&ndash; Footer Links &ndash;&gt;-->
  <!--<div class="container text-center text-md-left">-->

    <!--&lt;!&ndash; Grid row &ndash;&gt;-->
    <!--<div class="row">-->

      <!--&lt;!&ndash; Grid column &ndash;&gt;-->
      <!--<div class="col-md-4 mx-auto">-->

        <!--&lt;!&ndash; Content &ndash;&gt;-->
        <!--<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Footer Content</h5>-->
        <!--<p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,-->
          <!--consectetur-->
          <!--adipisicing elit.</p>-->

      <!--</div>-->
      <!--&lt;!&ndash; Grid column &ndash;&gt;-->

      <!--<hr class="clearfix w-100 d-md-none">-->

      <!--&lt;!&ndash; Grid column &ndash;&gt;-->
      <!--<div class="col-md-2 mx-auto">-->

        <!--&lt;!&ndash; Links &ndash;&gt;-->
        <!--<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>-->

        <!--<ul class="list-unstyled">-->
          <!--<li>-->
            <!--<a href="#!">Link 1</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 2</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 3</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 4</a>-->
          <!--</li>-->
        <!--</ul>-->

      <!--</div>-->
      <!--&lt;!&ndash; Grid column &ndash;&gt;-->

      <!--<hr class="clearfix w-100 d-md-none">-->

      <!--&lt;!&ndash; Grid column &ndash;&gt;-->
      <!--<div class="col-md-2 mx-auto">-->

        <!--&lt;!&ndash; Links &ndash;&gt;-->
        <!--<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>-->

        <!--<ul class="list-unstyled">-->
          <!--<li>-->
            <!--<a href="#!">Link 1</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 2</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 3</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 4</a>-->
          <!--</li>-->
        <!--</ul>-->

      <!--</div>-->
      <!--&lt;!&ndash; Grid column &ndash;&gt;-->

      <!--<hr class="clearfix w-100 d-md-none">-->

      <!--&lt;!&ndash; Grid column &ndash;&gt;-->
      <!--<div class="col-md-2 mx-auto">-->

        <!--&lt;!&ndash; Links &ndash;&gt;-->
        <!--<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>-->

        <!--<ul class="list-unstyled">-->
          <!--<li>-->
            <!--<a href="#!">Link 1</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 2</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 3</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 4</a>-->
          <!--</li>-->
        <!--</ul>-->

      <!--</div>-->
      <!--&lt;!&ndash; Grid column &ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash; Grid row &ndash;&gt;-->

  <!--</div>-->
  <!--&lt;!&ndash; Footer Links &ndash;&gt;-->

  <!--<hr>-->

  <!--&lt;!&ndash; Call to action &ndash;&gt;-->
  <!--<ul class="list-unstyled list-inline text-center py-2">-->
    <!--<li class="list-inline-item">-->
      <!--<h5 class="mb-1">Register for free</h5>-->
    <!--</li>-->
    <!--<li class="list-inline-item">-->
      <!--<a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>-->
    <!--</li>-->
  <!--</ul>-->
  <!--&lt;!&ndash; Call to action &ndash;&gt;-->

  <!--<hr>-->

  <!--&lt;!&ndash; Social buttons &ndash;&gt;-->
  <!--<ul class="list-unstyled list-inline text-center">-->
    <!--<li class="list-inline-item">-->
      <!--<a class="btn-floating btn-fb mx-1">-->
        <!--<i class="fab fa-facebook-f"> </i>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="list-inline-item">-->
      <!--<a class="btn-floating btn-tw mx-1">-->
        <!--<i class="fab fa-twitter"> </i>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="list-inline-item">-->
      <!--<a class="btn-floating btn-gplus mx-1">-->
        <!--<i class="fab fa-google-plus-g"> </i>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="list-inline-item">-->
      <!--<a class="btn-floating btn-li mx-1">-->
        <!--<i class="fab fa-linkedin-in"> </i>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="list-inline-item">-->
      <!--<a class="btn-floating btn-dribbble mx-1">-->
        <!--<i class="fab fa-dribbble"> </i>-->
      <!--</a>-->
    <!--</li>-->
  <!--</ul>-->
  <!--&lt;!&ndash; Social buttons &ndash;&gt;-->

  <!--&lt;!&ndash; Copyright &ndash;&gt;-->
  <!--<div class="footer-copyright text-center py-3">© 2020 Copyright:-->
    <!--<a href="https://mdbootstrap.com/"> MDBootstrap.com</a>-->
  <!--</div>-->
  <!--&lt;!&ndash; Copyright &ndash;&gt;-->

<!--</footer>-->
<!--&lt;!&ndash; Footer &ndash;&gt;-->
